.container{
    text-align: center;
    height: 100vh;
    line-height: 10vh;
  }
  
#text_id 
{ 
    background-color:crimson;
    vertical-align: middle; 
    padding: 10px 20px;

}

#button_id 
{ 
vertical-align: middle; 
padding: 10px 20px;
}

#send_message_title
{
vertical-align: middle; 
padding: 10px 20px;
}

#recive_message_title
{ 
vertical-align: middle; 
padding: 10px 20px;
}